<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="heading">
    <h1><%= title %></h1>
    <p class="intro">The Current State of My Development as a Developer</p>
    <p class="intro">Signed in as <%= username %></p>

  </div>
<div id="app"></div>


    <script src="./javascripts/bundle.js"></script>
  </body>
</html>
