body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('./img/coding-background-edit-3.png');
  background-repeat: no-repeat;
  text-shadow: 4px 4px 8px black;
}

a {
  color: #00B7FF;
}

#heading {
  color: white;

}
.delete {
  font-weight: 600;
}
#app {
  color: white;
}
/* the following line styles the lists side by side */
/* and removes the bulletpoints */
.listsViewElement {
  text-align: center;

}
.listsViewElement > form {
  padding: 25px;
}

li {
padding: 10px;

}

.intro {
  font-size: 20px;
}

.singlelist {
  display: inline-block;
  text-align: center;
  vertical-align: top;

}

ul {
  list-style: none;
}
ul > li {

  display: inline-block;
  list-style: none;
  padding: 24px;
  border: 2px solid black;
  margin: 24px 24px 0px 24px;
  vertical-align:top;
}

#listview {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 20px;
}

#listsview {
  text-align:center;
}

/*this centers the heading*/

#heading {
  text-align: center;
}

#itemsview {
  text-align: left;
}
